.carousel-container {
  width: 100%;
  height: 550px; /* Ajuste a altura conforme desejar */
  margin-bottom: 50px;
}

.slide-content {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-text {
  text-align: center;
  color: white;
  z-index: 2;
  /* Um leve drop shadow ajuda a ler o texto sobre as imagens claras */
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); 
}

.slide-text h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 20px;
  font-weight: 300;
}

.slide-text button {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
}

.slide-text button:hover {
  background: #fff;
  color: #000;
}